@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
/* @import url('https://cdn.lazywasabi.net/fonts/ChulabhornLikit/ChulabhornLikitText.css?woff2'); */

body {
    font-family: "Bai Jamjuree", sans-serif;
    /* font-family: 'Chulabhorn Likit Text', sans-serif; */

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    scroll-behavior: smooth;
}
