.Header {
    
    text-align: left;

    margin-left: 15px;

    // margin-bottom: 205px;

    .greetings {
        h1 {
            color: #E5C07B;
            padding-bottom: 50px;
            padding-top: 50px;
            font-size: 45px;
            font-style: normal;
        }
    }
}
